= "#{@user.full_name} wants to join your company #{@company.name}"
br
= "Click on the link below if you want to invite him or decline invitation"
br
= link_to "Invite user", company_invite_url(@company, @invite, status: :accepted)
br
= link_to "Decline invitation", company_invite_url(@company, @invite, status: :declined)
